.color {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  display: inline-block;
}


#pixel-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  flex: 0 0 20%;
}

body {
  background-image: url('https://i.pinimg.com/originals/59/fc/9e/59fc9e86d0e553273b37388d8d857055.gif');
  background-repeat: no-repeat;
  background-size: 100%; 
}

#title {
  color: rgb(230, 226, 226);
}

#button-random-color  {
  display: block;
}

#clear-board {
  position: absolute;
  top: 140px;
  left: 80px;
}